.row.justify-content-center.flex-column-reverse.flex-md-row.border-top
  .col-12.col-md-3.p-2
    .col-12.col-md-4.pt-2
      .logo-image-container
        =image_tag '/images/block1.jpg'
  .col-6.col-md-8.pt-3
    50X30 Hollow Concrete Block
    .text-black.pt-2.pb-2
      MWK 300
    .small-border.text-gold.rounded.text-center
      View