.col-12.col-sm-3.pt-3.p-3
  .product-image-small.ml-5
    =image_tag '/images/block1.jpg'
  .product-card.text-center.text-small.p-2.ml-5.rounded
    %p 50 x 30 Hollow Concrete Block
    %p MWK 300
    .row.justify-content-center.flex-column-reverse.flex-md-row
      .col-12.col-sm-6
        .btn-gold.text-center.rounded.text-gold.p-2
          =link_to view_products_path, class: "text-decoration-none text-gold" do
            View Product
      .col-12.col-sm-6
        .btn-blue.text-center.rounded.text-blue.p-2
          Enquire
      

      