- content_for :title, 'About'

#about.row.justify-content-center.flex-column-reverse.flex-md-row
  .col-12.col-md-12
    .text-large.text-gold.text-center 
      %strong About Us
    .text-medium.text-center.text-darkgray
      %p Welcome to PALA, Malawi's premier concrete brick and block manufacturer

.row.justify-content-center.flex-column-reverse.flex-md-row
  .col-12.col-md-12
    .text-gold.text-medium.text-center.p-2
      %strong Who are we?
    .text-black.text-medium.p-2.text-center
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
      Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique,
      tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
      Aenean velit odio, elementum in tempus ut, vehicula eu di