.home-image
  =image_tag '/images/back.jpg'
  .bg-welcome.text-center
    .col-12.md-6.text-black.text-medium.p-5
      Our vision is to be Malawi's premier concrete brick & concrete block manufacturer, trusted and recognised for the best quality and best service.