@import 'variables';

.home-image {
  img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  }
}

.logo-image-container {
  img {
    height: 100px;
    object-fit: scale-down;
    z-index: 2;
  }
}

.product-image {
  img {
    height: 400px;
    object-fit: scale-down;
  }
  
}
.product-image-small {
  img {
    width: 370px;
    object-fit: scale-down;
  }
}

.image-container, .image-display, .mini-image {
  background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
}

.image-display {
  height: 40vh;
}

.mini-image {
  height: 10vh;
  cursor: pointer;
}

@media (max-width: 768px) {
  #preview {
    display: none;
  }
}

.navbar-brand {
  img {
    height: 2rem;
    width: 2rem;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    margin-right: 0.5rem;
    img {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.image-404 {
  img {
    width: 25%;
    height: auto;
  }
}

// Image carousel colour

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '❯';
  left: 0;
  font-size: 55px;
  color: $black;
}

.carousel-control-prev-icon:after {
  content: '❮';
  font-size: 55px;
  color: $black;
}

.preview-image {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 150px;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.preview-image-md {
  height: 100px;
}

.carousel-indicators li {
  background-color: $gray;
}

.carousel-indicators .active {
  background-color: $darkgray;
}

.socials-images {
  img {
    width: 60px;
    height: 60px;
  }
}

.socials-images-footer {
  img {
    width: 40px;
    height: 40px;
  }
}
