@import 'variables';

.home-image {
  img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  }
}

.logo-image-container {
  img {
    height: 100px;
    object-fit: scale-down;
    z-index: 2;
  }
  @media screen and (max-width: 450px) {
    img {
     height: 3.75rem;
     object-fit: scale-down;
     z-index: 2;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer-image {
    img {
      height: 3rem;
    }
  }
}

.product-image {
  img {
    height: 350px;
    object-fit: scale-down;
  }
  @media screen and (min-width: 450px)  and (max-width: 950px) {
    img {
      margin-right: 5%;
    }
  }
  
}
.product-image-small {
  img {
    width: 370px;
    object-fit: scale-down;
  }

  @media screen and (max-width: 450px){
    img {
      width: 80%;
      margin-left: 10%;
    }
  }
  @media screen and (min-width: 768px) {
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 450px) {
  .product-image {
    img {
      margin-left: 0%;
      width: 100%;
    }
  }
}

.image-container, .image-display, .mini-image {
  background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
}

.image-display {
  height: 40vh;
}

.mini-image {
  height: 10vh;
  cursor: pointer;
}

// Image carousel colour

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '❯';
  left: 0;
  font-size: 55px;
  color: $black;
}

.carousel-control-prev-icon:after {
  content: '❮';
  font-size: 55px;
  color: $black;
}

.preview-image {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 150px;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.preview-image-md {
  height: 100px;
}

.carousel-indicators li {
  background-color: $gray;
}

.carousel-indicators .active {
  background-color: $darkgray;
}

.socials-images {
  img {
    width: 60px;
    height: 60px;
  }
}

.socials-images-footer {
  img {
    width: 40px;
    height: 40px;
  }

  @media screen and (max-width: 450px) {
    margin: 2%;
  }
}
