.row.justify-content-center.flex-column-reverse.flex-md-row 
  .col-12.col-md-12
    .text-large.text-center.text-gold.p-3
      %strong Products

.row.justify-content-center.flex-column-reverse.flex-md-row 
  .col-12.col-md-10
    .row.justify-content-center.flex-column-reverse.flex-md-row
      - @products.each do |product|
        = render "small_product"